.header__button_type_close {
  display: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../../../../images/Close.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__button_type_close.active {
  display: block;
}